# Python
__pycache__/
*.pyc
.venv/

# OS
.DS_Store

# Streamlit
.streamlit/

# TP outputs (légers mais pas nécessaires au dépôt)
TP1/outputs/

# SAM checkpoints / models
TP1/models/
*.pth

# --- TP1: checkpoints/models (ne pas committer) ---
TP1/models/*.pth
TP1/models/
TP3/data/*.wav
TP3/data/*.mp3
TP3/data/*.m4a
TP3/outputs/*.wav
